{__NOLAYOUT__}
<layout name="Pub/Layout2" />

	<link rel="stylesheet" href="{:C('CSS_URL')}cart.css" type="text/css">

	<!--<script type="text/javascript" src="{:C('JS_URL')}cart1.js"></script>-->



	
	<div style="clear:both;"></div>

	<!-- 主体部分 start -->
	<div class="mycart w990 mt10 bc">
		<h2><span>我的购物车</span></h2>
		<table>
			<thead>
				<tr>
					<th class="col1">商品名称</th>
					<th class="col2">商品信息</th>
					<th class="col3">单价</th>
					<th class="col4">数量</th>	
					<th class="col5">小计</th>
					<th class="col6">操作</th>
				</tr>
			</thead>
			<tbody>
			<foreach name="cartinfo" item="v">
				<tr>
					<td class="col1"><a href=""><img src="{:C('SITE_URL')}{$v.logo|substr=###,2}" alt="" /></a>  <strong><a href="">{$v.goods_name}</a></strong></td>
					<td class="col2"> <p>颜色：073深红</p> <p>尺码：170/92A/S</p> </td>
					<td class="col3">￥<span>{$v.goods_price}</span></td>
					<td class="col4"> 
						<a href="javascript:;" class="reduce_num" onclick="change_number('red',{$v.goods_id})"></a>
						<input type="text" name="amount" value="{$v.goods_buy_number}" onchange="change_number('mod',{$v.goods_id})" id="goods_number_{$v.goods_id}" class="amount"/>
						<a href="javascript:;" class="add_num" onclick="change_number('add',{$v.goods_id})"></a>
					</td>
					<td class="col5">￥<span id="xiaoji_{$v.goods_id}">{$v.goods_total_price}</span></td>
					<td class="col6"><a href="javascript:if (confirm('确认要删除吗')) del_goods({$v.goods_id})">删除</a></td>
				</tr>
			</foreach>

			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">购物金额总计： <strong>￥ <span id="total">{$totalprice['price']}</span></strong></td>
				</tr>
			</tfoot>
		</table>
		<div class="cart_btn w990 bc mt10">
			<a href="" class="continue">继续购物</a>
			<a href="{:U('flow2')}" class="checkout">结 算</a>
		</div>
	</div>
	<!-- 主体部分 end -->
<script>
	function del_goods(goods_id) {
		$.ajax({
			url:"{:U('Shop/delGoods')}",
			data:{'goods_id':goods_id},
			dataType:'json',
			//type:,
			success:function (msg) {
				//删除商品对应的tr元素
				$('#xiaoji_'+goods_id).parent().parent().remove();
				//最新的购物车总金额更新显示到页面
				$('#total').html(msg.price);
			}
		});
	}

	function change_number(flag,goods_id){
		var num = $('#goods_number_'+goods_id).val();
		if(flag === 'add') {
			num++;
		} else if(flag === 'red'){
			if(num == 1) {
				alert('每个商品至少买一个，或者删除');
				return false;
			}
			num--;
		} else if(flag === 'mod') {
			//检查num的合法性
			var reg = /^([1-9]|1\d|20)$/;
			if(num.match(reg)===null) {
				alert('修改的数量不合法，要求1~20之间的数字');
				window.location.href=window.location.href;
				return false;
			}
		} else {
			alert('错误');
			return false;
		}
		$.ajax({
			url:"{:U('Shop/changeNumber')}",
			data:{'num':num,'goods_id':goods_id},
			dataType:'json',
			type:'get',
			success:function (msg) {
				//把最新的数量更新到input框
				$('#goods_number_'+goods_id).val(num);
				//把返回的小计价格和总计价格显示
				$('#total').html(msg.zongji['price']);
				$('#xiaoji_'+goods_id).html(msg.xiaoji);
			}
		});
	}
</script>
	<div style="clear:both;"></div>
